:root {
	--bg-color-primary: #2c3333;
	--bg-color-secondary: #395b64;
	--bg-color-accent: #a5c9ca;

	--font-color-primary: #1f1f1f;
	--font-color-secondary: #eff3f8;

	--fs-small: 1.4rem;
	--fs-medium: 1.6rem;
	--fs-large: 2.4rem;
	--fs-xl: 2.8rem;
	--fs-xxl: 3.2rem;

	--border-semirounded: 1.2rem;
	--border-wellrounded: 2.4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: var(--fs-medium);
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--font-color-secondary);
	background-color: var(--bg-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	line-height: normal;
}

h1 {
	font-size: var(--fs-xxl);
}
h2 {
	font-size: var(--fs-xl);
}
h3 {
	font-size: var(--fs-large);
}

a {
	text-decoration: none;
	color: var(--bg-color-accent);
}

ul,
ol {
	list-style: none;
}

input,
button,
textarea,
select,
optgroup,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font: inherit;
}

button {
	cursor: pointer;
}
