.TodayWorks {
	width: 100%;
    margin-bottom: 2rem;
	display: flex;
    align-items: center;
}

.TodayWorks button {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    border-radius: var(--semi-rounded);
}

.TodayWorks h3 {
	color: var(--font-color-w);
}
